@model Grupo6.Entities.Models.CategoriaFiscal
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Crear Nueva Categoria</h2>

@using (Html.BeginForm("Create", "CategoriaFiscal"))
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("Detalle", new { @class = "control-label col-md-2", @id = "colorNaranja" })
            <div class="col-md-10">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Detalle, new { @placeholder = "Detalle", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Detalle)

            </div>
        </div>
        <div class="float-right">
            <a href="@Url.Action("Index","CategoriaFiscal")" class="btn btn-danger">Volver</a>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>
    </div>
}

