
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main">
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-7 pt-5 text-center">
                    <h1 class="pt-5">Ofertas Exclusivas!</h1>

                    <form action="/Auth/Index">

                        <button class="btn1 mt-3">Acceder</button>
                    </form>
                </div>
            </div>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-7 pt-5 text-center">
                    <h1 class="pt-5">BIENVENIDO!</h1>
                    <h2>@User.Identity.Name</h2>

                    
                </div>
            </div>
        </div>
    }






</section>

<!-- =========================================== -->

<section class="new">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-lg-7 m-auto">
                <div class="row text-center">
                    <div class="col-lg-4">
                        <img src="~/Content/carne.png" class="img-fluid" alt="" />
                        <h6>CARNES</h6>
                    </div>
                    <div class="col-lg-4">
                        <img src="~/Content/vegetal.png" class="img-fluid" alt="" />
                        <h6>VEGETALES</h6>
                    </div>
                    <div class="col-lg-4">
                        <img src="~/Content/pescado.png" class="img-fluid" alt="" />
                        <h6>PESCADOS</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- =========================================== -->

<section class="product">
    <div class="container py-5">
        <div class="row py-5">
            <div class="m-auto text-center">
                <h1 class="product">Artículo Más Vendidos</h1>
                <h6 style="color:red;">Compre en UAI Market, la mejor opción de compra online</h6>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <img src="~/Content/vacio.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <h6>Vacío de Novillito X 1,4 Kg.</h6>
                <p>$1384,60</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <img src="~/Content/Banana.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <h6>Banana X 1 Kg.</h6>
                <p>$120</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <img src="~/Content/Pollo-Fresco-X-3-Kg.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <h6>Pollo Fresco X 3 Kg.</h6>
                <p>$438</p>
            </div>
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <img src="~/Content/Filet-De-Merluza-Congelado-X-1-Kg-1-63164.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <h6>Filet De Merluza Despinado X Kg.</h6>
                <p>$1549</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center m-auto">
                <button class="btn1">Click para más Info</button>
            </div>
        </div>
    </div>
</section>

