
@using Grupo6.Services;
@model IEnumerable<Logger>

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>



        <table cellpadding="10" cellspacing="5">
            <tr>
                <th>Severity</th>
                <th>Controller</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
            @if (Model != null)
            {

                foreach (Logger Log in Model)


                {
                    <tr>
                        <td>log.severity</td>
                        <td>log.Controller</td>
                        <td>log.Message</td>
                        <td>log.Date</td>
                    </tr>
                }
            }
        </table>
    </body>
</html>
